/*****************************************************
 *** Non-variable with color theme Colors
 *****************************************************/
$link-color: #039be5;
$body-bg-color: #fefefc;
$border-color: #c0c0c0;
$off-black: rgba(30, 40, 50, 0.8); // Materialize main text color

$shine-color-a: gold;
$shine-color-b: #B326E0;

$super-accent-color: #f64d00;

$light-text-color: #efefef;
$brightest-text-color: #fefefe;
$brightest-bg-color: #fefefe;

// materialize primary and secondary color
$primary-color: #fff;
$secondary-color: gold;

$header-bg-color: #FFFEF6;

$sidebar-bg-color: #584D63;

$main-highlight-bg-color: #FFFCED;

$answer-bg-color: $body-bg-color;
