/*****************************************************
 *** Responsive sizes
 *****************************************************/
// Materialize breakpoints
// $small-screen-up: 769px !default;
// $medium-screen-up: 1281px !default;
// $large-screen-up: 1441px !default;
// $small-screen: 768px !default;
// $medium-screen: 1280px !default;
// $large-screen: 1440px !default;


/*****************************************************
 *** General variables
 *****************************************************/
$font-size: 16;

$header-h: 50px;
$header-intro-mode-h: 200px;

$sidebar-w: 32%;

$big-margin: 60px;
$std-margin: 30px;
$mini-margin: 20px;
$micro-margin: 15px;
$nano-margin: 10px;
