// px to rem conversion
@function px2rem($val-px) {
	// @return to-fixed($val-px / $font-size, 2) + rem;
	@return $val-px / $font-size + rem;
}

// vertically center the children of a container
@mixin gm-vcenter-children {
	@include flexbox;
	@include align-items(center);
}

// make grayscale
@mixin gm-grayscale($val: 100%) {
	-webkit-filter: grayscale($val);
	filter: grayscale($val);
}

// flip horizontally or vertically
@mixin gm-hflip {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}
@mixin gm-vflip {
	-moz-transform: scaleY(-1);
	-o-transform: scaleY(-1);
	-webkit-transform: scaleY(-1);
	transform: scaleY(-1);
	filter: FlipV;
	-ms-filter: "FlipV";
}

// uber-paranoid clearfix
@mixin gm-clearfix {
	&:before, &:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
	zoom:1; /* For IE 6/7 (trigger hasLayout) */
}
.gm-clearfix {
	@include gm-clearfix;
}
