/*****************************************************
 *** General styles
 *****************************************************/

html, body {
  height: 100%;
}

body { 
  background: $body-bg-color;
}

a {
  color: $link-color;
}
